<div class="container-fluid">
 
  <%= render_template("helpers/user_status.html.erb") %>

  <div class="clearfix">
    <div class="datasets span6">
      <div class="clearfix">
        <h2 class="lfloat">Datasets</h2>
        <div class="lfloat mll mth">
          <%= render_partial("datasets/csv_dialog.html.erb") %>
        </div>
      </div>

      <div class="dataset_list">
        <%= render_datasets() %>
      </div>
    </div>

    <div class="dashboards span6">
      <div class="clearfix">
        <h2 class="lfloat">Dashboards</h2>
        <div class="lfloat btn mth mll add_dashboard">Add a Dashboard</div>
      </div>
      <div class="dashboard_list">
        <%= render_dashboards() %>
      </div>
    </div>


  </div>

  <%= add_socket() %>

</div>
