<% set_default("body", ""); %>
<% set_default("title", ""); %>
<% set_default("description", ""); %>
<% set_default("query_id", ""); %>
<% set_default("width", "2"); %>
<% set_default("height", "2"); %>
<% set_default("show_dashboard", false); %>
<% set_default("dashboard", ""); %>
<% set_default("size", "normal"); %>

<div class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add portlet</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">

      <div class="control-group hidden">
        <label class="control-label">Query ID</label>
        <div class="controls">
          <input type="text" class="mtm" name="query_id" value="<%= query_id %>"/>
        </div>
      </div>

      <% if (show_dashboard) { %>
        <div class="control-group">
          <label class="control-label">Dashboard</label>
          <div class="controls">
            <div class="dashboard"> </div>
          </div>
        </div>
      <% } %>

      <div class="control-group">
        <label class="control-label">Size</label>
        <div class="controls">
          <select class="mtm" name="size" data-value=<%= size %>>
            <% _.each(['Normal', 'Small', 'Large', 'Tall', 'Wide' ], function(cur_size) { %>
              <option value="<%= cur_size.toLowerCase() %>" <%= cur_size.toLowerCase() == size ? "selected" : "" %> >
                <%= cur_size %>
              </option>
            <% }); %>
          </select>
        </div>
      </div>


      <% if (show_dashboard) { %>
        To add a new dashboard, go to the datasets page and use the 'Add a Dashboard' button.
      <% } %>

    </form>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn btn-primary save mll">Save</a>
    <a href="#" data-dismiss="modal" class="btn close">Close</a>
  </div>
</div>
